@media (max-width: 980px) {

  * {
    -webkit-tap-highlight-color: transparent
  }

  .bag {
    box-shadow: inset 200px -760px 1300px -10px black;
    background-image: url('black.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 720px solid white;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    width: 147.3%;
    border: black solid 2px;
    padding: 0;
    height: 58%;
    z-index: -4;
  }

  body .solar_systm .planet .moon {
    background: url("https://pre00.deviantart.net/4677/th/pre/f/2015/314/4/e/pluto_map__2015_nov_10__by_snowfall_the_cat-d918tlb.png");
  }

.butoom {
  height: 50px;
  width: 100%;
  position: fixed ;
  bottom: 10vh;
  display: grid ;
  place-items: center;
  color: #FFFFFF;
  z-index: 1;
}



  body .solar_systm .planet,
  body input[type="radio"][name="planet"]::after,
  body .overlay {
    right: -40%;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
  }

  .planet_description {
    margin-top: -35vh !important;
    margin-left: 40vh !important;
    position: absolute;
  }

  .planet_description p {
    margin-top: 5vh !important;
    height: 10vh;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .planet_description label {
    background: #FFFFFF;
    padding: 10px 30px;
    color: black !important;
    margin-left: -500px;
    border-radius: 30px;
  }

  .planet_description a {
    color: black !important;
  }


  input[type="radio"][name="planet"]::after {
    width: 27vh !important;
    height: 50vh !important;
    margin-top: 400px !important;
    margin-left: 240px !important;
  }

  body .overlay {
    border-bottom: 1420px solid black;
    width: 1800px;
    height: 620px;
    transform: none;
    border-radius: 0;
    top: -240px;
    left: -303px;
    opacity: 1;
    z-index: 0;
    box-shadow: 0px -160px 215px 110px black inset;
  }

  .overlay-anfas {
    background: #000000;
    height: 20px;
    top: 372px;
    width: 100%;
    position: absolute;
  }


  body .read:checked+label+input+.panel {
    right: 70%;
    visibility: visible;
  }

  body .panel {
    position: absolute;
    top: 90%;
    z-index: 2;
    min-width: 100vw !important;
    left: 20%;
    background: #000000;
    transition: 0s  ease-in;
    height: 50vh;
    visibility: hidden;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 10px 60px 0px 60px;
    overflow: scroll;
  }



  /* body .panel {
  position: absolute;
  right: -520px;
  width: 300px;
  top: 0;
  height: 100vh;
  transition: all 0.2s;
  color: black;
  background: white;
  padding: 10px 60px 0px 60px;
  overflow: scroll;
} */

  body label.close {
    position: absolute;
    right: -70;
    opacity: 0;
    transition: all 0.3s 0.4s;
    z-index: 3;
    background: rgba(0, 0, 0, 0) !important;
    top: 65px;
  }

  body label.closeBig {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 80vh;
    transition: all 0.2s;
    z-index: 10;
    background: rgba(37, 99, 88, 0) !important;
  }

  body label.closeBig::after {
    content: " ";
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    left: -140px;
    opacity: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  body .read:checked+label {
    width: 140vw;
  }


  .col-u {}



}
